<div class="content" role="main">
  <app-header ></app-header>
  <div>
    <form [formGroup]="cvForm" (ngSubmit)="generateComponent.generate()">
      <app-basic-info id="basicInfo" [cvForm]="cvForm"></app-basic-info>
      <app-education id="education"></app-education>
      <app-job-experience id="jobExperience"></app-job-experience>
      <app-skills id="skills"></app-skills>
      <app-hobby id="hobby" [cvForm]="cvForm"></app-hobby>

      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>

      <app-generate [cvForm]="cvForm"></app-generate>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
    </form>

  </div>

</div>
