<div class="content" role="main">
  <app-header [photo]="photo"></app-header>
  <div>
    <form [formGroup]="cvForm" (ngSubmit)="generateComponent.generate()">
      <app-basic-info id="basicInfo" [cvForm]="cvForm" [basicInfo]="cvData?.basicInfo" [photo]="photo"
                      (uploadPhotoEvent)="selectFile($event)" (deletePhotoEvent)="deletePhoto()"></app-basic-info>
      <app-education id="education" [education]="cvData?.education" [setCvDataId]="cvData?.id"></app-education>
      <app-job-experience id="jobExperience" [jobExperiences]="cvData?.jobExperiences" [setCvDataId]="cvData?.id"></app-job-experience>
      <app-skills id="skills" [skills]="cvData?.skills" [setCvDataId]="cvData?.id"></app-skills>
      <app-hobby id="hobby" [cvForm]="cvForm" [basicInfo]="cvData?.basicInfo"></app-hobby>

      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>

      <app-generate [cvForm]="cvForm" [cvData]="cvData"></app-generate>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
      <div class="row mt-2"></div>
    </form>

  </div>

</div>
