<h1 class="heading" translate>section.skills</h1>
<div class="divider"> <span></span>
</div>
<div class="container">
  <div class="row">
    <h3 translate>section.skills</h3>
  </div>

  <div class="row mt-2"></div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" translate>table.header.name</th>
      <th scope="col" translate>table.header.level</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td></td>
      <td>C++</td>
      <td>Super</td>
    </tr>

    </tbody>
  </table>

  <button type="button" class="btn btn-primary button-regular" translate>buttons.label.add</button>

  <div class="row mt-2"></div>
  <div class="row mt-2"></div>
  <div class="row mt-2"></div>
</div>
