<h1 class="heading" translate>section.education</h1>
<div class="divider"> <span></span>
</div>
<div class="container">
  <div class="row">
    <h3 translate>label.education.highSchool</h3>
  </div>

  <div class="row mt-2"></div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" translate>table.header.dateFrom</th>
      <th scope="col" translate>table.header.dateTo</th>
      <th scope="col" translate>table.header.school</th>
      <th scope="col" translate>label.education.country</th>
      <th scope="col" translate>table.header.currently</th>
    </tr>
    </thead>
    <tbody>

    <tr *ngFor="let edu of getSchoolByType('HIGH_SCHOOL')">
      <th scope="row" style="border-bottom: 1px solid #dee2e6;">
        <button type="button" class="btn btn-warning icon-button" (click)="openAddModal(edu)">
          <span class="fa fa-edit"></span>
        </button>
        <button type="button" class="btn btn-danger icon-button" (click)="remove(edu)">
          <span class="fa fa-trash"></span>
        </button>
      </th>
      <td>{{edu.dateFrom}}</td>
      <td>{{edu.dateTo}}</td>
      <td>{{edu.name}}</td>
      <td>{{edu.country}}</td>
      <td>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" [(ngModel)]="edu.currently" disabled>
          <label class="custom-control-label"></label>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="row mt-2"></div>
  <div class="row mt-2"></div>
  <div class="row mt-2"></div>

  <div class="row">
    <h3 translate>label.education.studies</h3>
  </div>

  <div class="row mt-2"></div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" translate>table.header.dateFrom</th>
      <th scope="col" translate>table.header.dateTo</th>
      <th scope="col" translate>table.header.school</th>
      <th scope="col" translate>label.education.country</th>
      <th scope="col" translate>table.header.currently</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let edu of getSchoolByType('STUDIES')">
      <th scope="row" style="border-bottom: 1px solid #dee2e6;">
        <button type="button" class="btn btn-warning icon-button" (click)="openAddModal(edu)">
          <span class="fa fa-edit"></span>
        </button>
        <button type="button" class="btn btn-danger icon-button" (click)="remove(edu)">
          <span class="fa fa-trash"></span>
        </button>
      </th>
      <td>{{edu.dateFrom}}</td>
      <td>{{edu.dateTo}}</td>
      <td>{{edu.name}}</td>
      <td>{{edu.country}}</td>
      <td>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" [(ngModel)]="edu.currently" disabled>
          <label class="custom-control-label"></label>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="row mt-2"></div>
  <button type="button" class="btn btn-primary button-regular" (click)="openAddModal(null)" translate>buttons.label.add</button>

  <div class="row mt-2"></div>
  <div class="row mt-2"></div>
  <div class="row mt-2"></div>
</div>
