<h1 class="heading" translate>section.education</h1>
<div class="divider"> <span></span>
</div>
<div class="container">
  <div class="row">
    <h3 translate>label.education.highSchool</h3>
  </div>

  <div class="row mt-2"></div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" translate>table.header.dateFrom</th>
      <th scope="col" translate>table.header.to</th>
      <th scope="col" translate>table.header.school</th>
      <th scope="col" translate>table.header.currently</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">
        <button type="button" class="btn btn-warning icon-button">
          <span class="fa fa-edit"></span>
        </button>
        <button type="button" class="btn btn-danger icon-button">
          <span class="fa fa-trash"></span>
        </button>
      </th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>bauza</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
      <td>bauza</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>@twitter</td>
      <td>bauza</td>
    </tr>

    </tbody>
  </table>

  <button type="button" class="btn btn-primary button-regular" translate>buttons.label.add</button>

  <div class="row mt-2"></div>
  <div class="row mt-2"></div>
  <div class="row mt-2"></div>

  <div class="row">
    <h3 translate>label.education.studies</h3>
  </div>

  <div class="row mt-2"></div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" translate>table.header.dateFrom</th>
      <th scope="col" translate>table.header.to</th>
      <th scope="col" translate>table.header.school</th>
      <th scope="col" translate>table.header.currently</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="customCheck2" disabled>
          <label class="custom-control-label" for="customCheck2"></label>
        </div>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>

  <button type="button" class="btn btn-primary button-regular" translate>buttons.label.add</button>

  <div class="row mt-2"></div>
  <div class="row mt-2"></div>
  <div class="row mt-2"></div>
</div>
