<h1 class="heading" translate>section.basicInfo</h1>
<div class="divider"> <span></span>
</div>
<div class="container">
  <div class="row">
    <h3 translate>label.basicInfo.yourPhoto</h3>
  </div>
  <div class="row">
    <img src="assets/img_placeholder.jpg" />
  </div>
  <div class="row">
    <div class="btn-group col-lg-4" style="padding: 0">
      <button type="button" class="btn btn-primary btn-lg button-regular" translate>label.basicInfo.addPhoto</button>
      <button type="button" class="btn btn-danger btn-lg button-regular" translate>label.basicInfo.removePhoto</button>
    </div>
  </div>

  <div class="row mt-5"></div>

  <div class="row">
    <h3 translate>label.basicInfo.general</h3>
  </div>

  <div class="row mt-2"></div>

  <div [formGroup]="cvForm" class="col-lg-5" style="padding-left: 0px">
    <label for="nameInput" translate>label.basicInfo.name</label>
    <input type="text" class="form-control" placeholder="{{ 'label.basicInfo.name' | translate }}" id="nameInput" aria-label="Name" aria-describedby="basic-addon1" formControlName="name">

    <div class="row mt-2"></div>

    <label for="surnameInput" translate>label.basicInfo.surname</label>
    <input type="text" class="form-control" placeholder="{{ 'label.basicInfo.surname' | translate }}" id="surnameInput" aria-label="Surname" aria-describedby="basic-addon1" formControlName="surname">

    <div class="row mt-2"></div>

    <label for="birthDateInput" translate>label.basicInfo.birthDate</label>
    <input type="date" lang="en" class="form-control" placeholder="{{ 'label.basicInfo.birthDate' | translate }}" id="birthDateInput" aria-label="BirthDate" aria-describedby="basic-addon1" formControlName="birthDate">

    <div class="row mt-2"></div>

    <label for="cityInput" translate>label.basicInfo.city</label>
    <input type="text" class="form-control" placeholder="{{ 'label.basicInfo.city' | translate }}" id="cityInput" aria-label="City" aria-describedby="basic-addon1" formControlName="city">

    <div class="row mt-2"></div>
    <div class="row mt-2"></div>
    <div class="row mt-2"></div>
  </div>
</div>
