<h1 class="heading" translate>section.jobExperience</h1>
<div class="divider"> <span></span>
</div>
<div class="container">
  <div class="row">
    <h3 translate>section.jobExperience</h3>
  </div>

  <div class="row mt-2"></div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col" translate>table.header.dateFrom</th>
      <th scope="col" translate>table.header.dateTo</th>
      <th scope="col" translate>table.header.firm</th>
      <th scope="col" translate>table.header.description</th>
      <th scope="col" translate>table.header.currently</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let experience of jobExperiences">
      <th scope="row" style="border-bottom: 1px solid #dee2e6;">
        <button type="button" class="btn btn-warning icon-button" (click)="openAddModal(experience)">
          <span class="fa fa-edit"></span>
        </button>
        <button type="button" class="btn btn-danger icon-button" (click)="remove(experience)">
          <span class="fa fa-trash"></span>
        </button>
      </th>
      <td>{{experience.dateFrom}}</td>
      <td>{{experience.dateTo}}</td>
      <td>{{experience.firm}}</td>
      <td>{{experience.description}}</td>
      <td>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" [(ngModel)]="experience.currently" disabled>
          <label class="custom-control-label"></label>
        </div>
      </td>
    </tr>

    </tbody>
  </table>

  <button type="button" class="btn btn-primary button-regular" (click)="openAddModal(null)" translate>buttons.label.add</button>

  <div class="row mt-2"></div>
  <div class="row mt-2"></div>
  <div class="row mt-2"></div>
</div>
